<manifest xmlns:android="http://schemas.android.com/apk/res/android"
xmlns:tools="http://schemas.android.com/tools"
  package="com.tbib_file_uploader.tbib_file_uploader">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- photos-->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <!-- videos-->
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    

    <!--camera-->
    <uses-permission android:name="android.permission.CAMERA" />
    

<application
        android:enableOnBackInvokedCallback="true"
        tools:targetApi="tiramisu"
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true"
        android:preserveLegacyExternalStorage="true"
        >
</application>
    
</manifest>
